body {
  background-color: #dee8e6;
}

.mainContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid blue;
  padding: 40px;
  background-color: #bceae1;
}

.secondContainer {
  text-align: center;
}

.myImage {
  text-align: center;
  padding: 20px;
}
