.certifications {
  padding: 10px;
  border-color: #b5b5b5;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

.addCertificationBtn,
.addCourseBtn {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
